<div class="container">
  <div *ngFor="let post of posts">
    <div *ngIf="!post.active" class="card mb-5" [ngClass]="{'bg-warning': post.type == 'news', 'bg-dark': post.type == 'politic', 'bg-info': post.type == 'education', 'text-white': post.type == 'politic'}">
      <h5 class="card-header">Post</h5>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <p class="card-text">{{ post.id }}</p>
        <button type="button" class="btn btn-primary" (click)="enable(post)">Attiva</button>
      </div>
    </div>
  </div>
</div>
